<h1>All Movies</h1>


<div class=" d-flex gap-5 p-5">
  <% @movies.each do |movie| %>
  <%# <%= link_to list_path(list), class: "card-link" do %>
    <div class="card" style="width: 18rem;">
      <img src="<%= movie.poster_url %>" class="card-img-top" alt="...">
      <h3 style="width:100%; text-align:center;"><%= movie.title %></h3>
      <div class="card-body">
        <p class="card-text"><%= movie.overview %></p>
      </div>
    </div>
  <% end %>
</div>
